CONFIG_TARGET_ar71xx_generic_CARAMBOLA2=y
CONFIG_DEVEL=y
CONFIG_BUILD_LOG=y
CONFIG_BINARY_FOLDER="$(TOPDIR)/bin/carambola2"
CONFIG_DOWNLOAD_FOLDER="/scratch/DL/openwrt"
CONFIG_TARGET_ROOTFS_TARGZ=y
CONFIG_TARGET_ROOTFS_INITRAMFS=y
CONFIG_IMAGEOPT=y

CONFIG_PACKAGE_busybox=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_LSUSB=y

CONFIG_PACKAGE_kmod-scsi-core=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_ppp=n
CONFIG_PACKAGE_ppp-mod-pppoe=n

CONFIG_CCACHE=y

